.App {
  text-align: center;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block; 
  clear: both;
}
.logo{
  height :200%;
  padding-left: 15px;
  float: left;
  height: 80px;
  background-color: white;
}
.title{
  height: 80px;
  background-color: white;
  color: #3ea4cc;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
